<!DOCTYPE html>

<!-- 原html code, 下方用form取代

<form action="/your-name/" method="post">
    <label for="test_value">test value: </label>
    <input id="test_value" type="text" name="test value" value="">
    <input type="submit" value="OK">
</form>

-->

<form action="/getAvlBal/" method="POST">
    {% csrf_token %}

<!--
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} 
        {{ field }}
        

        {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    <br>
       
{% endfor %}
-->
    <div class="getAvlBal">
        {{ form.as_table }}
        <input type="submit" value="Submit">
    </div>

</form>
</br>
<!-- template for error lsit
{% if form.subject.errors %}
    <ol>
    {% for error in form.test_user.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
-->

<p>{{ error_message }}</p>

<div class="result">
    <table border="1">
        <tr>
            <th>User</th>
            <th>User Group</th>
            <th>User VIP</th>
            <th>Available Balance</th>
        </tr>
        {% for item in result_list %}
            <tr>
                {% for data in item %}
                    <td>{{ data }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
