<!DOCTYPE html>

<!-- 原html code, 下方用form取代

<form action="/your-name/" method="post">
    <label for="test_value">test value: </label>
    <input id="test_value" type="text" name="test value" value="">
    <input type="submit" value="OK">
</form>

-->

<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Create User</title>
</head>


<body role="document">
    <!-- 導航欄 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="margin-left: -200px;" href="/"> Api Root </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"> Ubit Trunk </a></li>
                    <li><a href="/quickCreat/"> Quick Creat User </a></li>
                    <li><a href="/getAvlBal"> User Balance </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"> Logout </a></li>
                </ul>
            </div>
    
        </div>
    </nav>




<!--
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} 
        {{ field }}
        

        {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    <br>
       
{% endfor %}
-->
<form class="navbar-form" action="/ubit-trunk/" method="POST">
    {% csrf_token %}
    <div class="create" style="padding-top: 80px; padding-left: 20px;">
        {{ form.as_table }}
        <br>
        <button type="submit" class="btn btn-success"> Submit </button>
    </div>

</form>

</body>

